# Environment
NODE_ENV=development

# Port
PORT=3001

# Database URL
# DB_URL="mongodb+srv://assignment-2:MwqP2NeVQVhRIP79@cluster0.yx0jx.mongodb.net/assignment2?retryWrites=true&w=majority&appName=Cluster0"
DB_URL="mongodb+srv://next-mart:nextmart@cluster0.yx0jx.mongodb.net/nextmart?retryWrites=true&w=majority&appName=Cluster0"

# Bcrypt Salt Rounds
BCRYPT_SALT_ROUNDS=12

# JWT Secrets and Expiry
JWT_ACCESS_SECRET="a1b2c3d4e5f67890abcdef1234567890"
JWT_ACCESS_EXPIRES_IN=1m
JWT_REFRESH_SECRET="f4d3a9b8c7e6f5d4e3c2b1a0987654321abcdef1234567890abcdef123456789"
JWT_REFRESH_EXPIRES_IN=1y
JWT_OTP_SECRET="a1b2c3d4e5f67890abcdef1234567890"
JWT_PASS_RESET_SECRET="a1b2c3d4e5f67890abcdef1234567890"
JWT_PASS_RESET_EXPIRES_IN=15m

# Cloudinary Credentials
CLOUDINARY_CLOUD_NAME="dkdibsanz"
CLOUDINARY_API_KEY="558721645753651"
CLOUDINARY_API_SECRET="Ky5Ga3DuiaRU77goqQem_bEdWQU"

# Email Configuration
SENDER_EMAIL="mdsujon258549@gmail.com"
SENDER_APP_PASS="kbla tjpt goaf suwr"

# SSLCommerz Payment Info
STORE_NAME="testsujon3y5g"
PAYMENT_API="https://sandbox.sslcommerz.com/gwprocess/v3/api.php"
VALIDATION_API="https://sandbox.sslcommerz.com/validator/api/validationserverAPI.php"
STORE_ID="sujon67c73b991d2a2"
STORE_PASSWORD="sujon67c73b991d2a2@ssl"
VALIDATION_URL="http://localhost:3001/api/v1/ssl/validate"
SUCCESS_URL="http://localhost:3000/success"
FAILED_URL="http://localhost:3000/failed"
CANCEL_URL="https://www.subscriptionstopper.com/"